/*
================================================
/* Table of Content
================================================
1. General styles
2. Landing Page
    2.1 General styles
    2.2 Login / Signup (animations)
    2.2 Login / Signup (input field)
3. Dashboard Area General Styles
4. Dashboard Account page
    4.1. general
    4.2.account balance
    4.3.account details
    4.4. balance chart
    4.5. cards
    4.6. create new account
    4.7. transactions table
    4.8. general dashboardd panel styles
5. Dashboard New Account page
/*
================================================
1. General Styles
================================================
*/

@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: "Poppins", sans-serif;
    background: #fff;
    color: #eee;
    font-size: 14px;
    overflow-x: hidden;
    position: relative;
}
article,
aside,
footer,
header,
nav,
section {
    display: block;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
textarea {
    overflow: auto;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    text-transform: none;
}
h1{
    font-size:40px;
}
h2{
    font-size:35px;
}
h3{
    font-size:24px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6{
    font-size:16px;
}
p{
    font-size:15px;
}
ul,li{
    list-style:none;
    padding:0;
    margin:0;
}
a, a:hover, a:active, a:focus {
    outline: none;
    border: none;
    text-decoration:none;
}
a {
    color:#333;
    transition: all 0.3s ease 0s;
}
a:focus, a:hover {
    color:#003471;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

/*
================================================
2. Landing Page
================================================
*/
/*---- 2.1 General styles ----*/
.page-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../img/6.jpg');
    background-size: cover;
    -webkit-filter: blur(0);
    filter: blur(0);
    color: #eee;
    transition: filter 1s .5s, -webkit-filter 1s .5s;
}
.page-wrap.blur {
    -webkit-filter: blur(2px) ;
    filter: blur(2px);
}
header {
    text-shadow: #001935 1px 1px 5px;
    padding: 20px 0 0 0;
}
header span {
    padding: 5px;
    border-bottom: 1px solid #003471;
}
main {
    text-align: center;
    width: 80%;
} 
main > h2 {
    margin: 0 0 20px 0;
}
main > p:nth-child(2) {
    margin: 0 0 20px 0;
}
main > p:nth-child(3) {
    margin: 20px 0 10px 0;
}
main button {
    margin: 0 10px 0;
}
footer {
    padding: 10px;
    border-top: 1px solid #003471;
    text-align: center;
    width: 100%;
}
/*---- 2.2 modal ----*/
.modal {
    background: rgba(0,0,0,.3);
    /* box-shadow: #000 1px 1px 5px 8px; */
    /* border: 3px solid #000; */
    transform: scaleX(0.1) scaleY(0);
}
.modal.show {
    animation: show-modal 1s ease both ;
}
.modal.hide {
    animation: hide-modal 1s ease both .5s;
}
@keyframes show-modal {
    0% {
        transform: scaleX(0.003) scaleY(0.003);
    }
    50% { 
        transform: scaleX(1) scaleY(0.003);
     }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}
@keyframes hide-modal {
    0% {
        transform: scaleX(1) scaleY(1);
        
    }
    50% { 
        transform: scaleX(1) scaleY(0.003);
     }
    100% {
        transform: scaleX(0.003) scaleY(0);
    }
}

/*---- 2.2 Login / Signup (animations) ----*/
.form-outer-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 85;
}
.form-inner-container {
  position: relative;
  left: 10px;
  width: 80%;
  height: 80%;
  overflow: hidden;
  text-align: center;
  background: rgba(0,0,0,.5);
  border: 1px solid #003471;
  box-shadow: #003471 1px 1px 2px;
  transition: transform .5s 1s;
}
@media (max-width: 600px) {
    .form-inner-container {
        width: 100%;
      }
}
.show .form-inner-container {
    transform: scale(1,1);
}
/* .hide .form-inner-container {
    animation: hide-inner-modal .5s both;
}
@keyframes hide-inner-modal {
    0%{ transform: scale(1,1); }
    100%{ transform: scale(0,0); }
} */
.form {
    background: rgba(0,0,0,.5);
}
.signup-main, .login-main {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease; 
}
.login-main {
    transform: translateX(0%);
    z-index: 89;
    opacity: 0;
    transition: all 1s ease;
}
.left .login-main {
    transform: translateX(-53.846%);
    animation: push-forward 1s both;
}
.right .login-main {
    animation: push-back 1s both;
}
.signup-main {
    transform: translateX(0%);
    z-index: 90;
    transition: all 1s ease;
}
.left .signup-main {
    transform: translateX(0%);
    z-index: 90;
    transition: all 1s ease;
    animation: push-back 1s both;
}
.right .signup-main {
    animation: push-forward 1s both;
}
.left .signup-main {
    transform: translateX(-53.846%);
}
@keyframes push-forward {
    0%,40% {z-index: 89; opacity: 0;}
    41%,100% {z-index: 91; opacity: 1;}
}
@keyframes push-back {
    0%,40% {z-index: 91; opacity: 1;}
    41%,100% {z-index: 89; opacity: 0;}
}
.signup-sub, .login-sub {
    position: absolute;
    top: 0;
    height: 100%;
    width: 35%;
    background: transparent;
    display: flex;    
    align-items: center;
    justify-content: center;
}
.signup-sub {
    right: 0;
    z-index: 92;
    overflow: hidden;
    transform: translateX(100%);
    transition: all 1s ease .3s;
    opacity: 0;
}
.left .signup-sub {
    transform: translateX(0%);
    opacity: 1;
}
.login-sub {
    left: 0;
    z-index: 92;
    overflow: hidden;
    transform: translateX(0%);
    transition: all 1s ease .3s;
    opacity: 1;
}
.left .login-sub {
    opacity: 0;
    transform: translateX(-100%);
}
.middle-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    background: #003471;
    z-index: 91;
    transform-origin: left;
}
.left .middle-block {
    animation: move-right 1s linear both;
}
.right .middle-block {
    animation: move-left 1s linear both;
    transform-origin: right;
}
@keyframes move-right {
    0% {
        transform: translateX(0%) scaleX(1);
    }
    30% {
        transform: translateX(56%) scaleX(1.5);
    }
    50% {
        transform: translateX(93%) scaleX(1.5);
    }
    99% {
        transform: translateX(186%) scaleX(1.5);
    }
    100% {
        transform: translateX(185.714%) scaleX(1);
    }
}
@keyframes move-left {
    0% {
        transform: translateX(185.714%) scaleX(1);
    }
    30% {
        transform: translateX(126.714%) scaleX(1.5);
    }
    50% {
        transform: translateX(92.714%) scaleX(1.5);
    }
    99% {
        transform: translateX(0%) scaleX(1.5);
    }
    100% {
        transform: translateX(0%) scaleX(1);
    }
}
/*---- 2.3 Login / Signup (input field) ----*/
.front-page {
    margin: 50px 0 0 0;
}
.signup-main > div, .login-main > div {
    width: 50%;
    max-width: 400px;
}
@media (max-width: 600px) {
    .signup-main > div, .login-main > div {
        width: 95%;
    }
}
.front-page input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 18px;
    border-style: none;
    border: 1px solid #003471; 
    color: #176ccc;
    line-height: 18px;
    font-size: 16px;
    padding: 8px 18px;
    width: 100%;
    background: inherit;
    transition: all .5s ;

}
select {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 18px;
    border-style: none;
    border: 1px solid #003471; 
    color: #fff;
    line-height: 18px;
    font-size: 16px;
    padding: 8px 18px;
    width: 100%;
    background: inherit;
    transition: all .5s ;
}
.front-page select:focus {
    outline: none 
}
.front-page input:hover, .front-page input:focus {
    box-shadow: #003471 1px 1px 5px;
}
.front-page label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 18px;
    padding: 0 2px;
    margin: 8px 18px;
    transform-origin: left;
    transform: scale(1) translate(0);
    transition: transform .4s ease;
    background: inherit;
    cursor: inherit;
}
.front-page input:focus + label {
    transform: scale(.8) translate(-10px, -20px);
    color: #176ccc;
    text-shadow: 2px 2px 50px rgba(0,0,0,1);
    background: rgba(0,0,0,.9);
    box-shadow: rgba(0,0,0,.9) 1px 1px 5px 5px;

}
.front-page input:valid + label {
    transform: scale(.8) translate(-10px, -35px);
    color: #176ccc;
}
.front-page input:focus {
    outline: none 
}
select {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 18px;
    border-style: none;
    border: 1px solid #003471; 
    color: #fff;
    line-height: 18px;
    font-size: 16px;
    padding: 8px 18px;
    width: 100%;
    background: inherit;
    cursor: pointer;
    transition: all .5s ;
}
select:focus, select:hover {
    outline: none 
}
option {
    outline: none;
    background: rgba(0,0,0,.5);
}
option:focus, option:hover {
    outline: none ;
    background: inherit;
}
.field-container {
    position: relative;
    height: 58px;
    margin: 5px 0 0;
}
button {
    outline: none;
    box-shadow: none;
    border-style: none;
}
.btn1 {
    padding: 5px 35px;
    border-radius: 15px;
    border: 1px solid #003471;
    background: #003471;
    color: #fff;
    box-shadow: #003471 1px 1px 5px;
    transition: all .3s;
    cursor: pointer;
}
button.btn1:hover {
    /* transform: scale(1.1); */
    padding: 5px 40px;
    border-radius: 16px;
    background: #001935;
    box-shadow: #001935 1px 2px 15px;
}
button.btn1.btn2 {
    border: 1px solid #fff;
    margin: 10px 0 0 0;
}
button.btn1.dsh {
    background: #001935;
    box-shadow: #001935 1px 2px 15px;
}
button.btn1.dsh2 {
    background: var(--alt-clr-4);
    /* box-shadow: var(--alt-clr-4) 1px 2px 15px; */
}
button.btn1:hover {
    padding: 5px 40px;
    box-shadow: #001935 1px 2px 15px 3px;
}

/*
================================================
3. Dashboard Area General Styles
================================================

*/
:root {
    --border: 1px solid rgba(255,255,255,.2);  /* border color */
    --dsh-bck-clr: #293145f8;  /* dashboard background color #293145 */
    /* --dsh-bck-clr: rgba(0,0,0,.5);  dashboard background color #293145 */
    --dsh-bck-clr-2: #384466bb;  /* dashboard background color #293145 */
    /* --dsh-bck-clr-2: rgba(0,0,0,.5);  dashboard background color #293145 */
    --lgt-clr-2: #b3b9c521; /* light text color 2 */
    --lgt-clr-3: #b3b9c5; /* light text color 3 */
    --lgt-clr-4: #7f8899; /* light text color 4 */
    --alt-clr-1: rgb(197, 102, 47); /* alternate text color 1 */
    --alt-clr-2: rgba(197, 102, 47, 0.4); /* alternate text color 1 */
    --alt-clr-3: rgb(33, 241, 33); /* alternate text color 3 -green*/
    --alt-clr-4: rgb(240, 82, 82); /* alternate text color 4 red */
    --toggle-width: 768px;
}
.dashboard-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/6.jpg);
    background-size: cover;
    filter: blur(5px);
}
.page-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dsh-bck-clr);
    display: flex;
}
/*-- navigation styles --*/
.side-bar {
    width: 280px;
    height: 100%;
    border-right: var(--border);
    transition: all .3s;
    box-shadow: var(--alt-clr-2) 1px 1px 5px;
    overflow: hidden;
    transform: max-width 1s;
}

.side-bar:hover {
    width: 290px;
}
/* control sidebar on small screens */
@media (max-width: 768px) {
    .side-bar {
        max-width: 0;
    }
    .side-bar.show {
        width: 340px;
        max-width: 340px;
    }
}
.toggle-close {
    height: 50px;
    max-height: 0;
    transition: max-height .5s;
    overflow: hidden;
    padding: 5px 20px;
    text-align: right;
    cursor: pointer;
    border-bottom: var(--border)
}
.show .toggle-close {
    max-height: 50px;
}
.toggle-close i {
    font-size: 40px;
    color: var(--alt-clr-1)
}
.toggle-close i:hover {
    text-shadow: var(--lgt-clr-3) 1px 1px 5px;
}
.profile-photo:hover {
    box-shadow: var(--alt-clr-2) 1px 1px 5px;
}
.profile-photo {
    height: 100px;
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    transition: all .3s ease;
}
.profile-photo:hover {
    height: 105px;
    box-shadow: var(--alt-clr-1) 1px 1px 10px;
}
.photo-outer {
    height: 90px;
    width: 90px;
    border: var(--border);
    border: 1px solid var(--alt-clr-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.photo-inner {
    height: 80px;
    width: 80px;
    border: 1px solid var(--alt-clr-2);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.profile-name {
    width: 100px;
}
.profile-name p {
    color: var(--lgt-clr-3)
}
.profile-name p span {
    color: var(--alt-clr-1);
    font-weight: 400;
    font-size: 13px;
}
.nav-links {
    padding: 15px;
}
.nav-links > div {
    margin: 20px 0;
}
.link-title {
    font-size: 13px;
    color: var(--alt-clr-1);
    font-weight: 400;
    padding-bottom: 7px; 
}
.nav-links li a {
    color: var(--lgt-clr-3);
    padding: 8px 0 2px 0;
    display: block;
    position: relative;
    transition: all .5s ease-in-out;
}
.nav-links li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: var(--alt-clr-1);
    transition: all .5s ease-in-out;
}
.nav-links li a:hover {
    padding-left: 4px;
}
.nav-links li a:hover::before {
    width: 100%;
}
.nav-links li a.active::before {
    width: 100%;
}
.nav-links i {
    color: var(--alt-clr-1);
    margin: 0 8px 0 0;
}
.main-body {
    width: 100%;
    display: grid;
    grid-template-areas: 
       "header header"
       "breadcrumb breadcrumb"
       "inner-body aside"
       "footer footer"
    ;
    grid-template-rows: 50px 35px auto 35px;   
    grid-template-columns: 100% 0%;
    overflow-y: scroll;
    transition: all .5s;
}
/* control main body visibilty when side bar is visible */
@media (max-width: 768px) {
    .side-bar.show + .main-body {
        filter: blur(15px);
        -webkit-filter: blur(15px);
        
    }
}
.dashboard-header {
    grid-area: header;
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
}
.dashboard-header h3 {
    text-shadow: var(--alt-clr-1) 1px 1px;
}
.dashboard-header .nav-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-controls p {
    font-size: 13px;
    cursor: pointer;
    color: var(--alt-clr-1);
    transition: all .3s;
}
.nav-controls i {
    font-size: 20px;
    padding-left: 5px; 
}
.nav-controls p:hover {
    text-shadow: var(--lgt-clr-3) 1px 1px 1px;
}
.nav-controls i.fa-bars {
    font-size: 25px;
}
.toggle-open {
    max-width: 0;
    overflow: hidden;
}
@media (max-width: 768px) {
    .toggle-open {
        max-width: 50px;
    }
}
.breadcrumb {
    grid-area: breadcrumb;
    border-bottom: var(--border);
    text-align: left;
    font-size: 11px;
    padding: 10px ;
    display: flex;
    align-items: center;
}
.bi {
    display: inline;
    color: var(--lgt-clr-4);
}
.bi span{
    color: var(--lgt-clr-3);
}
.bi + .bi::before {
    content: "/";
    display: inline-block;
    padding: 0 8px;
    color: var(--lgt-clr-4);
}
.inner-body {
    grid-area: inner-body;
    height: auto;
    border-right: var(--border);
}
.side-links {
    grid-area: aside;
}
.dashboard-footer {
    grid-area: footer;
    border-top: var(--border);
}
@media (max-width: 768px) {
    .main-body {
        grid-template-areas: 
           "header header"
           "breadcrumb breadcrumb"
           "inner-body inner-body"
           "aside aside"
           "footer footer"
        ;
        grid-template-rows: 50px 35px auto 0 35px;   
        grid-template-columns: 80% 20%;
    }
}
/*
================================================
4. Dashboard Account page
================================================
*/

/*---- 4.1. general ----*/
.accounts.inner-body {
    display: grid;
    grid-template-areas: 
        "balance details details"
        "chart chart cards"
        "chart chart new-acc"
        "transactions transactions transactions"
    ;
    grid-template-rows: 150px 200px 200px auto;   
    grid-template-columns: 1fr 1fr 1fr; 
}
@media (min-width: 768px) and (max-width: 1024px){
    .accounts.inner-body {
        grid-template-areas: 
            "balance details details"
            "chart chart cards"
            "chart chart new-acc"
            "transactions transactions transactions"
        ;
        grid-template-rows: 220px 200px 200px auto;   
        grid-template-columns: 1.2fr 1fr 1fr; 
    }
}
@media (max-width: 768px) {
    .accounts.inner-body {
        grid-template-areas: 
            "balance details details"
            "chart chart cards"
            "chart chart new-acc"
            "transactions transactions transactions"
        ;
        grid-template-rows: 200px 200px 200px auto;   
        grid-template-columns: 1fr 1fr 1fr; 
    }
}

/*---- 4.2.account balance ----*/
.accounts.inner-body > div > div {
    height: 100%;
    position: relative;
    padding: 0 20px;
}
.balance {
    grid-area: balance;
}
.accounts.inner-body .balance > div {
    padding-right: 0;
}
.panel-title::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0px;
    height: 3px;
    width: 25px;
    background: var(--alt-clr-1);
}
.balance .panel-outer {
    padding-right: 10px;
}
.balance .panel-inner {
    justify-content: space-around;
}
@media (max-width: 768px) {
    .balance .panel-inner {
        flex-direction: column;
    }
}
.balance .panel-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-balance {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.current-balance p {
    font-size: 30px;
    color: var(--alt-clr-1)
}
.current-balance span{
    font-size: 11px;
}
.current-balance span i{
    color: var(--alt-clr-3);
    font-size: 15px;
}

/*---- 4.3.account details ----*/
.account-details {
    grid-area: details;
}
.account-details .panel-title::before {
    height: 0;
}
.accounts.inner-body .account-details > div {
    padding-left: 0;
}
.account-details .panel-outer {
    padding-left: 10px;
}
.account-details .panel-inner {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
}
@media (max-width: 1024px) and (min-width: 500px) {
    .account-details .panel-inner {
        padding-left: 20px;
    }
}
.account-details p {
    font-size: 13px;
    color: var(--lgt-clr-3);
    padding: 2px 0;
}
.account-details p span{
    color: var(--alt-clr-1);
    font-weight: bolder;
    letter-spacing: 1.5px;
    padding-left: 5px;
}
/*---- 4.4. balance chart ----*/
.balance-chart {
    grid-area: chart;
}
.balance-chart > div {
    padding-left: 20px;
}
/*---- 4.5. cards ----*/
.cards {
    grid-area: cards;
}
/*---- 4.6. create new account----*/
.create-new {
    grid-area: new-acc;
}
.create-new .panel-inner {
    justify-content: center;
    align-items: center;
}
.create-new a {
    display: block;
    width: 60%;
    height: 60%;
    background: var(--alt-clr-3);
    border-radius: 10px;
    position: relative;
    transition: all .3s;
    color: var(--dsh-bck-clr);
    
}
.create-new a:hover {
    box-shadow: var(--alt-clr-2) 1px 1px 5px;
    width: 62%;
    height: 62%;
}
@media (max-width: 1024px) {
    .create-new a {
        width: 80%;
        height: 80%;
    }
    .create-new a:hover {
        width: 82%;
        height: 82%;
    }
}
.create-new a > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.create-new a > i {
    position: absolute;
    top: -5px;
    right: -5px;
    color: var(--dsh-bck-clr-1);
    font-size: 20px;
    text-shadow: var(--alt-clr-3) 1px 1px 5px;
}
/*---- 4.7. transactions table----*/
.transactions {
    grid-area: transactions;
}
.trans-table {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    grid-auto-rows: 40px; 
    width: 100%;
    align-items: center;
}
.trans-table .trans-date p span:nth-child(2)  {
    display: none;
}
.trans-table .trans-info p span:nth-child(2)  {
    display: none;
}
.trans-table > div {
    border-bottom: 1px solid var(--lgt-clr-2);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.trans-table .hdng {
    border-bottom: 1px solid var(--alt-clr-1);
    color: var(--alt-clr-1);
    font-weight: 600;
}
.trans-table .btm-row {
    border-bottom: none;
}
.credit {
    color: var(--alt-clr-3);
}
.debit {
    color: var(--alt-clr-4);
}
@media (max-width: 768px) {
    .trans-table {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1.2fr;
        grid-auto-rows: 40px; 
    }    
    .trans-table .trans-date p span:nth-child(1)  {
        display: none;
    }
    .trans-table .trans-date p span:nth-child(2)  {
        display: unset;
    }
    .trans-table .trans-info p span:nth-child(2)  {
        display: none;
    }
    .trans-table .trans-info p span:nth-child(1)  {
        display: unset;
    }
}
/*--- 4.8. general dashboardd panel styles ---*/
.panel-title {
    height: 30px;
    border-bottom: var(--border);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 0 5px 0;
    position: relative;
}
.panel-title h4 {
    font-size: 13px;
}
.panel-outer {
    height: calc(100% - 30px);
    width: 100%;
    padding: 20px 0;
}
.panel-inner {
    height: 100%;
    width: 100%;
    background: var(--dsh-bck-clr-2);
    border-radius: 10px;
    display: flex;
    position: relative;
    padding: 10px;
}
.panel-heading h5{
    font-size: 13px;
    color: var(--lgt-clr-3);
    font-weight: 400;
    /* color: var(--alt-clr-1) */
}
/*
================================================
5. Dashboard New Account page
================================================
*/
.new-account .panel-inner {
    background: unset;
}
.new-account {
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-account .form {
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #003471;
    width: 100%;
}
.new-account > div {
    width: 60%;
}
@media (max-width: 768px) {
    .new-account > div {
        width: 80%;
    }
}
/*
================================================
6. Dashboard User Profile Page
================================================
*/
.inner-body.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-profile .panel-inner {
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}
.user-profile > div {
    width: 70%;
}
@media (max-width: 768px) {
    .user-profile > div {
        width: 80%;
    }
}
.profile-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 40px;
    margin: 20px 0;
}
.profile-details > p {
    color: var(--alt-clr-1);
    justify-self: start;
}
.profile-details > p:nth-child(even) {
    color: var(--alt-clr-1);
    justify-self: start;
    margin-left: 10px;
}
.profile-details > p:nth-child(odd) {
    color: var(--lgt-clr-3);
    justify-self: end;
}
/*
================================================
7. Dashboard All Bank Accounts Page
================================================
*/
.all-b-acc {
    display: flex;
    justify-content: center;
 }
.all-b-acc .panel-outer{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
}
@media (min-width: 1024px) and (max-width: 1300) {
    .all-b-acc .panel-outer{
        grid-template-columns: auto auto;
    }
}
@media (min-width: 1300px) {
    .all-b-acc .panel-outer{
        grid-template-columns: auto auto auto;
    }
}
.all-b-acc .panel-inner  {
    height: auto;
    width: 310px;
    flex-direction: column;
}
/*
================================================
8. Dashboard Single Bank Account Page
================================================
*/
.go-back h4 {
    color: var(--alt-clr-1);
    margin-top: 10px;
    transition: all .3s;
}
.go-back h4:hover {
    text-shadow: #001935 1px 5px 15px; 
}
.go-back h4:hover i {
    margin-right: 20px; 
}
.go-back i {
    margin-right: 10px;
}
.recent-trans {
    display: grid;
    grid-template-columns: auto auto auto;
    /* border: var(--border); */
    border-radius: 10px;
    padding: 10px; 
    grid-row-gap: 15px;
    width: 100%;
    margin-bottom: 20px;
}
.recent-trans-title p{
    color: var(--alt-clr-1);
    font-weight: bolder;
    font-size: 20px;
    margin: 15px 0 10px 0;
    border-bottom: 1px solid var(--alt-clr-1);
}
.recent-trans > p {
    border-bottom: 1px solid var(--lgt-clr-2);
}
.recent-trans > p:nth-child(1),
.recent-trans > p:nth-child(2),
.recent-trans > p:nth-child(3) {
    border-bottom: 1px solid var(--alt-clr-1);
}
/*
================================================
9. Dashboard Cashier transactions
================================================
*/
.trans-type {
    margin: 20px 0 15px 0;
}